/* Public domain 100% free font */

/* No attribution required */

@font-face {
    font-family: 'StarJedi';
    src: url('assets/fonts/StarJedi.woff') format('woff'), url('assets/fonts/StarJedi.ttf') format('truetype'), url('assets/fonts/StarJedi.svg#StarJedi') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Public domain 100% free font */

/* No attribution required */

@font-face {
    font-family: 'Starjedi';
    src: url('assets/fonts/Starjedi.eot');
    src: url('assets/fonts/Starjedi.woff2') format('woff2'), url('assets/fonts/Starjedi.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.list-group-title {
    color: #00a8a8;
    background-color: #eee;
}

.table-hover>tbody>tr:hover {
    background-color: lightblue;
}

.table-header {
    background-color: lightblue !important;
}

.table-header>th {
    text-align: center;
}

.loader {
    margin: auto;
    border: 16px solid #f3f3f3;
    margin-top: 50px;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.sm-loader {
    margin: auto;
    border: 16px solid #f3f3f3;
    margin-top: 15px;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-container {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
}

.search-container {
    display: flex;
}

h1 {
    font-family: 'Starjedi';
    font-weight: normal;
    font-style: normal;
    color: white;
    text-shadow: 0px 0px 50px #0ff;
    border: none;
}

.panel {
    bottom: 20px;
    box-shadow: 0px 0px 50px #0ff;
    width: 95%;
    margin: auto;
}

.panel-container {
    margin-top: 5%;
    width: 100%;
}

.panel {
    background-color: white;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.col-sm-4 {
    margin-bottom: 50px;
}

.page-header {
    margin-top: 50px;
    border-bottom: none;
    text-align: center;
}

.button {
    cursor: pointer;
}

.button:hover {
    background: lightblue;
}

body {
    /* CC0 Creative Commons License for the image */
    /* No attribution required */
    background-image: url("assets/imgs/stars.jpg");
    background-color: black;
}
