<div ng-include="'shared/spinner.html'" ng-if="loadingFilm && !error"></div>

<div class="panel-container" ng-if="!loadingFilm && !error">
	<div class="panel panel-default text-center" ng-if="film.title">

		<div class="panel-header">
			<h2>{{ 'films' | translate}}: {{ film.title }}</h2>
		</div>

		<p><a href="#!/">{{ 'home' | translate}}</a>
			<p>

				<div class="panel-body flex">
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'created' | translate }}</li>
							<li class="list-group-item">{{ film.created | date }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'edited' | translate }}</li>
							<li class="list-group-item">{{ film.edited | date }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'episode #' | translate }}</li>
							<li class="list-group-item">{{ film.episode_id }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'director' | translate }}</li>
							<li class="list-group-item">{{ film.director }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'producer' | translate }}</li>
							<li class="list-group-item">{{ film.producer }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'opening crawl' | translate }}</li>
							<li class="list-group-item">{{ film.opening_crawl }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'release date' | translate }}</li>
							<li class="list-group-item">{{ film.release_date | date}}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'Planets' | translate }} ({{ planets.length }})<div ng-include="'shared/sm-spinner.html'" ng-if="loadingPlanets"></div></li>
							<li ng-if="!loadingPlanets" ng-repeat="planet in planets" class="list-group-item"><a href="#!/planet/{{getIdFromUrl(planet.url)}}">{{ planet.name }}</a></li>
							<li ng-if="planets.length === 0 && !loadingPlanets" class="list-group-item">{{ 'none' | translate }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{'Starships' | translate}} ({{starships.length}})<div ng-include="'shared/sm-spinner.html'" ng-if="loadingStarships"></div></li>
							<li ng-if="!loadingStarshps" ng-repeat="starship in starships" class="list-group-item"><a href="#!/starship/{{getIdFromUrl(starship.url)}}">{{ starship.name }}</a></li>
							<li ng-if="starships.length === 0 && !loadingStarshps" class="list-group-item">{{ 'none' | translate }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'vehicles' | translate }} ({{vehicles.length}})<div ng-include="'shared/sm-spinner.html'" ng-if="loadingVehicles"></div></li>
							<li ng-if="!loadingVehicles" ng-repeat="vehicle in vehicles" class="list-group-item"><a href="#!/vehicle/{{getIdFromUrl(vehicle.url)}}">{{ vehicle.name }}</a></li>
							<li ng-if="vehicles.length === 0 && !loadingVehicles" class="list-group-item">{{ 'none' | translate }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'species' | translate }} ({{species.length}})<div ng-include="'shared/sm-spinner.html'" ng-if="loadingSpecies"></div></li>
							<li ng-if="!loadingSpecies" ng-repeat="s in species" class="list-group-item"><a href="#!/speciesdetail/{{getIdFromUrl(s.url)}}">{{ s.name }}</a></li>
							<li ng-if="species.length === 0 && !loadingSpecies" class="list-group-item">{{ 'none' | translate }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'characters' | translate }} ({{ characters.length }})<div ng-include="'shared/sm-spinner.html'" ng-if="loadingCharacters"></div></li>
							<li ng-if="!loadingCharacters" ng-repeat="character in characters" class="list-group-item"><a href="#!/person/{{getIdFromUrl(character.url)}}">{{ character.name }}</li>
							<li ng-if="characters.length === 0 && !loadingCharacters" class="list-group-item">{{ 'none' | translate }}</li>
						</ul>
					</div>
				</div>

	</div>

	<div ng-if="!film.title">

		<div class="page-header">
			<h1>404</h1>
		</div>

		<a href="#!/">{{ 'home' | translate}}</a>

	</div>
</div>
<div ng-include="'shared/error.html'" ng-if="error"></div>
<div ng-if"errorMessage.length"><h1>{{errorMessage}}</h1></div>
