<div ng-include="'shared/spinner.html'" ng-if="loading"></div>

<div class="panel-container" ng-if="!loading">
	<div class="panel panel-default text-center">
		<div class="panel-header">
			<h2>People</h2>
		</div>
		<p>
			<a href="#!/">Home</a>
			<p>
				<div class="panel-body search-container">
					<input ng-enter="search(searchValue)" type="text" class="form-control" ng-model="searchValue" placeholder="Search..."></input>
					<button class="btn btn-primary" ng-click="search(searchValue)">Search</button>
				</div>
	</div>
	<div class="panel panel-default text-center">
		<div class="panel-body">
			<table class="table table-hover table-striped">
				<tr class="table-header">
					<th>Name</th>
					<th># Movies</th>
					<th>Gender</th>
					<th>Eye Color</th>
					<!-- <th>Height</th>
					<th>Mass</th> -->
				</tr>
				<tr ng-repeat="person in people" ng-click="examinePerson(person)">
					<td>{{ person.name }}</td>
					<td>{{ person.films.length }}</td>
					<td>{{ person.gender }}</td>
					<td>{{ person.eye_color }}</td>
					<!-- <td>{{ person.height }} cm</td>
					<td>{{ person.mass }} kg</td> -->
				</tr>
				<tr ng-if="people.length === 0">
					<td colspan="6">No Results</td>
				</tr>
			</table>
			<div class="">
				Page {{page}}
				<br>
				<button class="btn btn-primary" ng-if="page !== 1" ng-click="previousPage()">Back</button>
				<button class="btn btn-default" ng-if="!(page * 10 >= count)" ng-click="nextPage()">Next</button>
				<br>{{count}} people located
			</div>
		</div>
	</div>

</div>
