<div ng-include="'shared/spinner.html'" ng-if="loading() && !error"></div>

<div class="panel-container" ng-if="!loading() && !error">
	<div class="panel panel-default text-center" ng-if="person.name">

		<div class="panel-header">
			<h2>{{ person.name }}</h2>
		</div>

		<p><a href="#!/">{{ 'home' | translate}}</a>
			<p>

				<div class="panel-body flex">
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'films' | translate}} ({{films.length}})</li>
							<li ng-repeat="film in films" class="list-group-item"><a href="#!/film/{{getIdFromUrl(film.url)}}">{{ film.title }}<a/></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{'starships piloted' | translate}} ({{starships.length}})</li>
							<li ng-repeat="starship in starships" class="list-group-item"><a href="#!/starship/{{getIdFromUrl(starship.url)}}">{{ starship.name }}</a></li>
							<li ng-if="starships.length === 0" class="list-group-item">{{ 'none' | translate }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{'vehicles piloted' | translate}} ({{vehicles.length}})</li>
							<li ng-repeat="vehicle in vehicles" class="list-group-item"><a href="#!/vehicle/{{getIdFromUrl(vehicle.url)}}">{{ vehicle.name }}</a></li>
							<li ng-if="vehicles.length === 0" class="list-group-item">{{ 'none' | translate }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{'birth year' | translate}}</li>
							<li class="list-group-item">{{ person.birth_year }}</li>
							<li class="list-group-item list-group-item-info">
								BBY = {{ 'before the battle of' | translate}} Yavin<br> ABY = {{'after the battle of' | translate}} Yavin
							</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'eye color' | translate}}</li>
							<li class="list-group-item">{{ person.eye_color }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'gender' | translate }}</li>
							<li class="list-group-item">{{ person.gender }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'hair color' | translate }}</li>
							<li class="list-group-item">{{ person.hair_color }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'mass' | translate }}</li>
							<li class="list-group-item">{{ person.mass }} kg</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'height' | translate }}</li>
							<li class="list-group-item">{{ person.height }} cm</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'homeworld' | translate }}</li>
							<li class="list-group-item">{{ person.homeworld }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'skin color' | translate}}</li>
							<li class="list-group-item">{{ person.skin_color }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'species' | translate}} ({{species.length}})</li>
							<li ng-repeat="s in species" class="list-group-item"><a href="#!/speciesdetail/{{getIdFromUrl(s.url)}}">{{ s.name }}</a></li>
						</ul>
					</div>
				</div>

	</div>

	<div ng-if="!person.name">

		<div class="page-header">
			<h1>404</h1>
		</div>

		<a href="#!/">{{ 'home' | translate}}</a>

	</div>
</div>
<div ng-include="'shared/error.html'" ng-if="error"></div>
<div ng-if"errorMessage.length"><h1>{{errorMessage}}</h1></div>
