<div ng-include="'shared/spinner.html'" ng-if="loading"></div>

<div class="panel-container" ng-if="!loading">
	<div class="panel panel-default text-center">
		<div class="panel-header">
			<h2>{{ 'planets' | translate}}</h2>
		</div>
		<p>
			<a href="#!/">{{ 'home' | translate}}</a>
			<p>
				<div class="panel-body search-container">
					<input ng-enter="search(searchValue)" type="text" class="form-control" ng-model="searchValue" placeholder="{{ 'search' | translate }}..."></input>
					<button class="btn btn-primary" ng-click="search(searchValue)">{{ 'search' | translate }}</button>
				</div>
	</div>
	<div class="panel panel-default text-center">
		<div class="panel-body">
			<table class="table table-hover table-striped">
				<tr class="table-header">
					<th>{{ 'name' | translate}}</th>
					<th>{{ 'population' | translate}}</th>
					<th>{{ 'release date' | translate}}</th>
				</tr>
				<tr ng-repeat="planet in planets" ng-click="examinePlanet(planet)">
					<td>{{ planet.name }}</td>
					<td>{{ planet.population | number}}</td>
					<td>{{ planet.gravity }} G</td>
				</tr>
				<tr ng-if="planets.length === 0">
					<td colspan="6">{{ 'no Results' | translate }}</td>
				</tr>
			</table>
			<div class="">
				{{ 'page' | translate }} {{ page }}
				<br>
				<button class="btn btn-primary" ng-if="page !== 1" ng-click="previousPage()">{{ 'back' | translate }}</button>
				<button class="btn btn-default" ng-if="!(page * 10 >= count)" ng-click="nextPage()">{{ 'next' | translate }}</button>
				<br>{{count}} {{ 'planets' | translate }} {{ 'located' | translate }}
			</div>
		</div>
	</div>

</div>
