<div ng-include="'shared/spinner.html'" ng-if="loading() && !error"></div>

<div class="panel-container" ng-if="!loading() && !error">
	<div class="panel panel-default text-center" ng-if="planet.name">

		<div class="panel-header">
			<h2>{{ planet.name }}</h2>
		</div>

		<p><a href="#!/">{{ 'home' | translate}}</a>
			<p>

				<div class="panel-body flex">
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'diameter' | translate}}</li>
							<li class="list-group-item">{{ planet.diameter }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'rotation period' | translate }}</li>
							<li class="list-group-item">{{ planet.rotation_period }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'orbital period' | translate}}</li>
							<li class="list-group-item">{{ planet.orbital_period }} days</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'gravity' | translate}}</li>
							<li class="list-group-item">{{ planet.gravity }} G</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'population' | translate}}</li>
							<li class="list-group-item">{{ planet.population | number}}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'climate' | translate }}</li>
							<li class="list-group-item">{{ planet.climate }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'terrain' | translate}}</li>
							<li class="list-group-item">{{ planet.terrain }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'surface water' | translate }}</li>
							<li class="list-group-item">{{ planet.surface_water}}%</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'residents' | translate }} ({{residents.length}})</li>
							<li ng-repeat="resident in residents" class="list-group-item"><a href="#!/person/{{getIdFromUrl(resident.url)}}">{{ resident.name }}</a></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'films' | translate}} ({{ films.length }})</li>
							<li ng-repeat="film in films" class="list-group-item"><a href="#!/film/{{getIdFromUrl(film.url)}}">{{ film.title }}</li>
						</ul>
					</div>
				</div>

	</div>

	<div ng-if="!planet.name">

		<div class="page-header">
			<h1>404</h1>
		</div>

		<a href="#!/">{{ 'home' | translate}}</a>

	</div>
</div>
<div ng-include="'shared/error.html'" ng-if="error"></div>
<div ng-if"errorMessage.length"><h1>{{errorMessage}}</h1></div>
