<div ng-include="'shared/spinner.html'" ng-if="loading() && !error"></div>

<div class="panel-container" ng-if="!loading() && !error">
	<div class="panel panel-default text-center" ng-if="vehicle.name">

		<div class="panel-header">
			<h2>{{ 'vehicles' | translate}}: {{ vehicle.name }}</h2>
		</div>

		<p><a href="#!/">{{ 'home' | translate}}</a>
			<p>

				<div class="panel-body flex">
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'created' | translate }}</li>
							<li class="list-group-item">{{ vehicle.created | date }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'edited' | translate }}</li>
							<li class="list-group-item">{{ vehicle.edited | date }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'model' | translate}}</li>
							<li class="list-group-item">{{ vehicle.model }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'vehicle class' | translate }}</li>
							<li class="list-group-item">{{ vehicle.vehicle_class }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'manufacturer' | translate}}</li>
							<li class="list-group-item">{{ vehicle.manufacturer }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'cost in credits' | translate}}</li>
							<li class="list-group-item">{{ vehicle.cost_in_credits }} credits</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'length' | translate}}</li>
							<li class="list-group-item">{{ vehicle.length }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'crew members' | translate }}</li>
							<li class="list-group-item">{{ vehicle.crew }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'passengers' | translate}}</li>
							<li class="list-group-item">{{ vehicle.passengers }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'max atmosphering speed' | translate }}</li>
							<li class="list-group-item">{{ vehicle.max_atmosphering_speed }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'cargo capacity' | translate }}</li>
							<li class="list-group-item">{{ vehicle.cargo_capacity }} kg</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'max time between resupply' | translate }}</li>
							<li class="list-group-item">{{ vehicle.consumables }}</li>
						</ul>
					</div>

					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'pilots' | translate }} ({{pilots.length}})<div ng-include="'shared/sm-spinner.html'" ng-if="loadingPilots"></li>
							<li ng-if="!loadingPilots" ng-repeat="pilot in pilots" class="list-group-item"><a href="#!/person/{{getIdFromUrl(pilot.url)}}">{{ pilot.name }}</a></li>
							<li ng-if="pilots.length === 0 && !loadingPilots" class="list-group-item">{{ 'none' | translate }}</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info list-group-title">{{ 'films' | translate}} ({{ films.length }})<div ng-include="'shared/sm-spinner.html'" ng-if="loadingFilms"></li>
							<li ng-if="!loadingFilms" ng-repeat="film in films" class="list-group-item"><a href="#!/film/{{getIdFromUrl(film.url)}}">{{ film.title }}</li>
							<li ng-if="films.length === 0 && !loadingFilms" class="list-group-item">{{ 'none' | translate }}</li>
						</ul>
					</div>
				</div>

	</div>

	<div ng-if="!vehicle.name">

		<div class="page-header">
			<h1>404</h1>
		</div>

		<a href="#!/">{{ 'home' | translate}}</a>

	</div>
</div>
<div ng-include="'shared/error.html'" ng-if="error"></div>
<div ng-if"errorMessage.length"><h1>{{errorMessage}}</h1></div>
